*
body {
  background-image: url(https://cssauthor.com/wp-content/uploads/2015/01/Lazeez-watercolor-textures-4K-UDH-backgrounds.jpg); 
  font-family: 'Nunito', sans-serif;
  text-align:center;
  text-align:center;
  font-size: 15px;
  
}
nav {
  display:inline;
  font-size: 22px;
}
h1 {
  color: rgb(240, 195, 112);
  
}

p {
  font-size: 22px;
  color: rgb(184, 93, 108);
  font-weight:bold;

}
#fun {
  color:black;
  font-weight:bold;
  padding-left: 120px;
}
#foods {
  color: rgb(214, 156, 49);
}
#aboutme {
  font-size: 22px;
  padding-bottom: 10px;
  background-blend-mode: soft-light;
  color: rgb(120, 169, 214);
  font-family: cursive'
}
#experience {
  color:rgba(207, 89, 124, 0.968);
}
.content {
  font-weight:bold;
  text-align:left;
  border-width: 30px;
  justify-content:center;
  width: 500px;
  font-size: 20px;
  margin: 0 auto;
}
.photo {
  float: left;
  border: solid 5px rgb(226, 183, 190);
  width: 325px;
 
  
}
.history {
  margin: 0 auto;
  text-align: left;
  width: 400px;
  font-size:15px;
  justify-content:center;
  font-weight:bold;
  display: inline-block;
  *display:inline;
  
  
  

}
.ten {
    margin: 0 auto;
    text-align: left;
    width: 400px;
    font-size:15px;
    justify-content:center;
    font-weight:bold;
    display:inline-block;
    *display: inline;
    padding-left: 200px;
    color: rgb(143, 51, 67);

}